%div.header
  %p
    - if @action == 'submit'
      %span.submit
        = surround '[', ']' do
          %a(href='/') home
      submit a quote
    - else
      %span.submit
        = surround '[', ']' do
          %a(href='/submit') submit
      %a(href='/#{(@o ? '?o' : '')}') quotes database#{(@o ? ' (offensive)' : '')}
