<div class="quote well">
  <p class="body">
    <%= nl2br(html_escape(quote[:quote]))%>
  </p>

  <p class ="meta">
    <span class="plink">
      <a href="/id/<%= quote[:id] %><%= o_value %>" title="permanent link to this quote">#</a>
    </span>

    <%= partial 'attribution', :locals => { :quote => quote } %>
  </p>
</div>
