<%= partial 'header' %>
<% @quotes.each do |q| %>
    <%= partial('quote', :locals => { :this_quote => q }) %>
<% end %>
<div class="header"><p>You made it to the bottom! Hooray! <a href="https://github.com/philtr/quotes">Fork me on GitHub</a></p></div>