<!DOCTYPE html>
<html>
  <head>
    <title>Quotes Database</title>
    <link href='/css/quotes.css' rel='stylesheet' type='text/css'/>
  </head>
  <body>
    <div id="page">
      <%= yield %>
    </div>
  </body>
</html>