body {
  margin: 2em;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "DejaVu Sans", sans-serif;
  font-size: 11px;
  line-height: 14px;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

div#page { max-width: 650px; min-width: 465px; margin: 0 auto;}

div.header { background-color: #ccc; }
div.header p { font-weight: bold; padding: 5px 10px; }
div.header p a { color: #00c; }
div.header span.submit { float: right; }

div.quote { background-color: #cf9; }
div.quote p { padding: 10px; }
div.quote p.body { font-family:  "Menlo", "Consolas", "Inconsolata", "DejaVu Sans Mono", monospace; }
div.quote p a { color: #000; }
div.quote p.meta { font-weight: bold; }
div.quote .plink { float: right; }

div.field {
  background-color: #cf9;
  margin-bottom: 10px;
  padding: 10px;
}

div.alert {
  background-color: #fcc;
  font-weight: bold;
}

label { font-weight: bold; }
input[type=text] { width: 250px; }
textarea { max-width: 650px; min-width: 435px; }