body {
  margin: 2em;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "DejaVu Sans", sans-serif;
  font-size: 11px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div.header {
  width: 75%;
  background-color: #ccc;
}

div.header p {
  padding: .5em;
  font-weight: bold;
  font-family:  "Menlo", "Consolas","DejaVu Sans Mono", monospace;
}

div.header p a {
  color: #00c;
}

div.quote {
  width: 75%;
  background-color: #cf9;
}

div.quote p {
  padding: .5em;
  font-family:  "Menlo", "Consolas", "DejaVu Sans Mono", monospace;
}

div.quote p a {
  color: #000;
}

div.footer {
  width: 75%;
  background-color: #ccc;
}

div.footer p {
  padding: .5em;
  font-family:  "Menlo", "Consolas", "DejaVu Sans Mono", monospace;
}

.plink {
  float: right;
}

div.field {
  width: 73%;
  background-color: #cf9;
  line-height: 24px;
  margin-bottom: 10px;
  padding: 10px;
}

div.change-quote-type {
  background-color: #fcc;
  font-weight: bold;
}

label { font-weight: bold; }
input[type=text] { width: 250px;}